@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

* {
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.app-header {
  width: 40%;
  height: 2em;
  line-height: 2em;
  position: relative;
  margin: auto;
  font-size: 2em;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: aliceblue;
  background-color:blueviolet;
  border-radius: .7em;
}

.name-url {
  display: flex;
  flex-direction: row;
}

.url {
  width: 75%;
}

.conditions {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
  margin: auto;
  padding: 1em;
}

.numbers {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.numbers > label {
  text-align: center;
}

input[type=number] {
  width: 30%;
  align-items: center;
  margin: auto;
  margin-top: .3em;
}

label {
  display: block;
  margin: 1em;
}

input {
  display: block;
  width: 100%;
  height: 2em;
  margin-top: .3em;
}

.rules {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
  margin: auto;
  padding: 2em;
}

.submit {
  display: block;
  width: 20%;
  margin: auto;
}

.results {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
  margin: auto;
  padding: 2em;
}

a {
  display: block;
}